:root {
    /* Фоны */
    --background-color-default: #fff;
    --background-color-secondary: #dcdcdc;

    /* Цвета для текста */
    --color-text-default: #213547;

    /* Границы */
    --color-border-default: #232323;
    --color-border-secondary: #f38d56;
    --color-border-accent: #455ed8;
    --color-border-muted: #a1a4b7;

    /* Тени */
    --shadow-s: 0 1px 2px 0 rgb(0 0 0 / 15%);
    --shadow-m: 0 4px 40px 0 rgb(0 0 0 / 35%);
}